@keyframes small-jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes lunbo {
  0% {
    left: 0;
  }
  5% {
    left: -100%
  }
  33% {
    left: -100%;
  }
  38% {
    left: -200%
  }
  66% {
    left: -200%
  }
  71% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}